* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    list-style: none;
}

.font-red {
    color: red;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

a:visited, a {
    color: rgb(224, 221, 13);

}

.line-height-third {
    line-height: 1;
}

.affiliations {
    padding: 1px;
    margin: 5px;
    text-align: start;

}

/* header  */
header {
    display: flex;
    justify-content: center;
    width: 100;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(224, 221, 13);
}

/* controls   */
#controls {
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}

#controls form {
    display: flex;
    /* width: 100%; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* border: 2px solid yellow; */
    border-radius: 5px;
}

#controls form > div {
    border-radius: 10px;
    height: max-content;
}

.filter-div {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    align-items: center;
    border: 2px solid yellow;
}

.filter-div > div {
    padding: 20px;
}

.btn-div {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    align-items: center;
    border: 2px solid yellow;
}

.btn-div > div {
    padding: 20px;
}

button {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.selector-div {
    position: relative;
}



            /* btns  */
.clear {
    background-color: red;
    color: white;
    padding: 10px;
    position: absolute;
    right: 0;
}

/* results  */
.results-section {
    position: relative;
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
    padding-top: 50px;
}

#results .singleCharacter {
    border: 2px solid yellow;
    border-radius: 10px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
}

#results .img-div {
    display: flex;
    justify-content: center;
}

#results .img-div img {
    width: 250px;
    min-width: 250px;
    background-color: transparent;
    border-radius: 5px;
}

#results .info-title {
    margin: 5px;    
    color: rgb(224, 221, 13);
    font-size: 30px;
}

#results .info-ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#results .info-list-item {
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
}

.content-list {
    display: flex;
    flex-flow: column wrap;
    list-style-type: decimal;
}

.wiki {
    margin-top: 30px;
    font-size: 18px;
}

.content-list > * {
    padding: 5px;
}
