* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    list-style: none;
}

img, button {
    user-select: none;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(var(--white));
    border-radius: 4px;
}

::-webkit-scrollbar {
    background-color: rgb(var(--grey));
}

::-webkit-scrollbar-button {
    background-color: rgb(var(--yellow));
}

:root {
    /* --greenish-grey: 31, 31, 31; */
    --greenish-grey: 31, 39, 31;
    --grey: 31, 31, 31;
    --black: 0, 0, 0;
    --yellow: 224, 201, 13;
    --white: 255, 255, 255;
    --red: 255, 0, 0;
}

.font-red {
    color: rgb(var(--red));
}

body {
    position: relative;
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}

a:visited, a {
    color: rgb(var(--yellow));

}

.line-height-third {
    line-height: 1;
}

.affiliations {
    padding: 1px;
    margin: 5px;
    text-align: start;

}

/* header  */
header {
    display: flex;
    justify-content: center;
    width: 100;
    width: 100%;
    background-color: rgb(var(--black));
    color: rgb(var(--rgb(224, 221, 13)));
}

h1 {
    color: rgb(var(--yellow));
    user-select: none;
}

/* controls   */
#controls {
    background-color: rgb(var(--greenish-grey));
    color: rgb(var(--white));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

#controls form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 5px;
}

#controls form > div {
    border-radius: 10px;
    height: max-content;
}

.filter-div {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    align-items: center;
    border: 2px solid rgb(var(--yellow));
}

.filter-div > div {
    padding: 20px;
}

.btn-div {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px;
    align-items: center;
    border: 2px solid rgb(var(--yellow));
}

.btn-div > div {
    padding: 20px;
}

.selector-div {
    position: relative;
    width: 100%;
}

#gender, select, option {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: rbg(var(--white));
    background-color: rgb(var(--grey));
    line-height: 2;
}


/* btns  */
    button {
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(var(--yellow));
        color: rgb(var(--black));
    }

    .clear {
        background-color: rgb(var(--red));
        color: rgb(var(--white));
        padding: 10px;
        position: absolute;
        right: 5vw;
        outline-offset: -5px;
        outline: 2px solid rgb(var(--white))
    }

/* results  */
.results-section {
    position: relative;
    padding-bottom: 300px;
    border-bottom: 2px solid rgb(var(--grey));
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: rgb(var(--white));
    padding-top: 50px;
}

#results .singleCharacter {
    outline: 1px solid rgb(var(--yellow));
    outline-offset: -5px;
    background-color: rgb(var(--greenish-grey));
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
}

#results .img-div {
    display: flex;
    justify-content: center;
}

#results .img-div img {
    width: 250px;
    min-width: 250px;
    background-color: transparent;
    border-radius: 5px;
}

#results .info-title {
    margin: 5px;    
    color: rgb(var(--yellow));
    font-size: 30px;
}

#results .info-ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#results .info-list-item {
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
}

.content-list {
    display: flex;
    flex-flow: column wrap;
    list-style-type: decimal;
}

.wiki {
    margin-top: 30px;
    font-size: 18px;
}

.content-list > * {
    padding: 5px;
}

/* footer  */
footer {
    position: absolute;
    display: flex;
    width: 100%;
    top: 100%;
    padding: 100px;
    justify-content: center;
    align-items: flex-end;
}

footer * {
    color: rgba(var(--white), 0.3);
}